<!-- Insta Posts -->
<div class="row g-1 px-2 mt-5">
    <div class="col-lg-3 col-sm-6">
        <div class="card rounded">
            <img src="<%= image_path("insta_post01.jpg") %>" alt="">
            <a href="#" class="insta-btn">
                <i class="ri-instagram-fill"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card rounded">
            <img src="<%= image_path("insta_post02.jpg") %>" alt="">
            <a href="#" class="insta-btn">
                <i class="ri-instagram-fill"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card rounded">
            <img src="<%= image_path("insta_post03.jpg") %>" alt="">
            <a href="#" class="insta-btn">
                <i class="ri-instagram-fill"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card rounded">
            <img src="<%= image_path("insta_post04.jpg") %>" alt="">
            <a href="#" class="insta-btn">
                <i class="ri-instagram-fill"></i>
            </a>
        </div>
    </div>
</div>